click==8.0.4
flasgger==0.9.5
Flask==2.2.3
jellyfish==0.9.0
matplotlib==3.2.0
networkx==3.0
nltk==3.7
numpy==1.22.2
pandas==1.4.1
pytest==7.2.1
segtok==1.5.11
setuptools==65.3.0
simplejson==3.18.3
spacy==3.4.1
streamlit==1.18.1
tabulate==0.9.0
wordcloud==1.8.2.2
